
.card{
 opacity: 1;

}
.custom-card-project{
  background-color: rgba(0, 0, 0, 0.897);
color: #fff;
     -moz-transition: box-shadow 0.4s ease;
   -webkit-transition: box-shadow 0.4s ease;
   -o-transition: box-shadow 0.4s ease;
   -ms-transition: box-shadow 0.4s ease;
   transition: box-shadow 0.4s ease;
   -moz-box-shadow: 0 35px 30px -30px rgba(0,0,0,0.4);
   -webkit-box-shadow: 0 35px 30px -30px rgba(0,0,0,0.4);
   -o-box-shadow: 0 35px 30px -30px rgba(0,0,0,0.4);
   -ms-box-shadow: 0 35px 30px -30px rgba(0,0,0,0.4);
   box-shadow: 0 35px 30px -30px rgba(0,0,0,0.4);
   transition: .2s ease;
   box-shadow: 0 14px 28px rgba(4, 0, 255, 0.50), 2px 4px 10px 4px rgba(4, 0, 255, 0.50);

}
.custom-card-project:hover {
  background-color: rgba(0, 0, 0, 1);
       box-shadow: 0 14px 28px rgba(122, 226, 120, 0.7), 2px 4px 10px 4px rgba(122, 226, 120, 0.6);
       transition:  .2s;

      }
.custom-card-project.daha-fazla:hover{
  background-color: rgba(122, 226, 120, 0.7);
  box-shadow: 0 14px 28px rgba(4, 0, 255, 0.50), 2px 4px 10px 4px rgba(4, 0, 255, 0.50);
}

.card-img-project{
         opacity: 0.6;
         transition: opacity .3s;
}
.card-img-project:hover{
      opacity: 1;
      transition: opacity .3s;
}







.r11{
   -webkit-filter: blur(2px);
}

.image-background1{
    background-image: url('../foto/back3.jpg');
    background-color: #fff;
     background-size:cover;
       height: 800px;
     margin:0 auto;

}
 @media(max-width:650px)
 {
   .image-background1{
    height: 500px;
   }
 }
body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   }
.btn-outline-Home:hover{
  color: #000000;
  background: rgba(255, 255, 255, 0.57);
  border-color: rgba(255, 255, 255, 0.57);
}

.btn.btn-outline-Home{
  border:1px solid #ffffff;
  border-collapse: separate;
  border-radius: 5px;
  color:#fff;
}
.btn.btn-outline-other:hover{
  color: #fff;
  background: rgba(0, 112, 192, 0.5);
}
.btn.btn-outline-other{
  color: #fff;
}
.btn.btn-outline-cezerilab{

  border:1px solid rgba(4, 207, 4, 0.5);
  border-collapse: separate;
  border-radius: 10px;
  transition: 0.6s;
  font-size: 6vw;
  color: #fff;
  background-color: rgba(4, 0, 255, 0.3);
}
.btn.btn-outline-cezerilab:hover{
  background-color:rgba(122, 226, 120, 0.2);
  color: #fff;
}

.btn.btn-outline-sologan{
  font-size: 3vw;
background-color: rgba(4, 0, 255, 0.3); 
}
.btn.btn-outline-sologan:hover{
  font-size: 4vw;
   background-color:rgba(122, 226, 120, 0.2);
  color: #fff;
}


.son-Projerler{
  height:auto;
  background-color: black;

}
 
.Mark{
  background-color: rgba(4, 0, 255, 0.4);
color:#fff;
transition: .6s;

}
.Mark:hover{
  background-color: rgba(122, 226, 120, 0.8);
transition: .6s;
}
.Mark:hover ~ .Mark2{
  background-color: rgba(4, 0, 255, 0.4);
transition: .6s;
}
.Mark2{
  background-color: rgba(122, 226, 120, 0.5);
color:#fff;
transition: .6s;
}


li.nav-item.s{
  padding-left: 20px;
  padding-top: 5px;
}
.navbar.ana{
  background-image: linear-gradient(90deg, #f9faf900 50%, #0004fdc9 100%);
   transition: background .5s;
 }
.navbar.ana:hover  {
    background-color: rgba(122, 226, 120, 0.2);
    transition: background .5s;

}
.sayfa1-orta{
  color:white;
  text-align: center;
  padding-top: 200px;
  position:relative;
}
.ana-cumle{
 font-size: 75px;
}
.sologan-cumle{
  font-size: 25px;
}

.c2{
  padding-right: 150px;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.orange600 { color: #FB8C00; }

.about{
  padding-left: 100px;
  padding-top: 100px;
}
 .sura2  {
    background-image: url('../foto/back2.jpg');
    size:cover;
}
.sura1  {
   background-image: url('../foto/back3.jpg');
   size:cover;
}
.Servisler {
   background-color: #000;
}

.sura1:hover ~ .Servisler  {
    background-image: url('../foto/back1.jpg');
    size:cover;
}













/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;

}

/* ---- stats.js ---- */
.row{
transition: 0.6s;
}
.col-sm-3{
  transition: 0.6s;
}

.custom-card-hizmet  hr{
  background-color: #fff;
  transition: 0.5s;
}
 
.custom-card-hizmet   { 
  transition: 0.5s;
}
.custom-card-hizmet:hover  hr{
  background-color: rgb(0, 38, 251);
  transition: 0.5s;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.css-input { 
  border-width: 0px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: dashed;
  border-radius: 0px;
  box-shadow: 2px 1px 19px rgba(1,116,206,.96);
  text-shadow: 0px 0px 5px rgba(66,66,66,.21);
  width: auto;
}
.btn.btn-outline-Gonder{
  color: #fff;
  background-color: #92D051;
}
.btn.btn-outline-Gonder:hover{
  color: #fff;
  background: rgba(248, 0, 0, 0.815);
}

.VerticalLine{
  border-right: 1px solid rgba(0, 0, 0, 0.603);
  height: 65vh; 
}
.form-control{
  box-shadow: 0.5px 1px 2px 2px rgba(147, 208, 81, 0.26);
}
 
.referanslar{
  height: auto; 
  
}
.dikdortgen{ 
  height: auto;
  width: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}
.dikdortgen2{  
  height: auto;
  width: auto; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}
ol.carousel-indicators {
  position: absolute;
  bottom: 0px;
  margin: 0 0 10px 0;
  left: 0;
  right: 50vw;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0;
  border-radius: 100%;
  border: 0;
  background: transparent;
  transition:.5s;
}
ol.carousel-indicators li {
  background: rgba(30, 255, 0, 0.822);
  margin-left: .3rem;
  margin-right: .3rem;
  transition:.5s;
}
ol.carousel-indicators li.active {
  background: rgba(3, 6, 170, 0.651);
  transition:.5s;
}
.imglogo{
  width:12vw;
  padding: 2vh;
}